<app-menu></app-menu>
<span class='component-title'>[{{title}}]</span>
<p *ngIf='!user'>Loading</p>
<div *ngIf='user'>
    <main class="single">
        <table class="table table-sm">
            <tr>
                <td>
                    FirstName:
                </td>
                <td>
                    <input [(ngModel)]="user.firstName" class="rounded" type="text">
                </td>
            </tr>
            <tr>
                <td>
                    LastName:
                </td>
                <td>
                    <input [(ngModel)]="user.lastName" class="rounded" type="text">
                </td>
            </tr>
            <tr>
                <td>
                    UserName:
                </td>
                <td>
                    <input [(ngModel)]="user.userName" class="rounded" type="text">
                </td>
            </tr>
            <tr>
                <td>
                    Password:
                </td>
                <td>
                    <input [(ngModel)]="user.password" class="rounded" type="text">
                </td>
            </tr>
            <tr>
                <td>
                    isAdmin:
                </td>
                <td>
                    <input [(ngModel)]="user.admin" class="rounded" type="boolean">
                </td>
            </tr>
            <tr>
                <td>
                    isReviewer:
                </td>
                <td>
                    <input [(ngModel)]="user.reviewer" class="rounded" type="boolean">
                </td>
            </tr>
            <tr>
                <td>
                    Email:
                </td>
                <td>
                    <input [(ngModel)]="user.email" class="rounded" type="text">
                </td>
            </tr>
            <tr>
                <td>
                    Phone:
                </td>
                <td>
                    <input [(ngModel)]="user.phone" class="rounded" type="text">
                </td>
            </tr>
        </table>
    </main>
    <span><button (click)="save()" class="btn btn-sm btn-primary">{{submitBtnTitle}}</button></span> | 
    <span><button (click)="backClicked()" class="btn btn-sm btn-primary">Back</button></span>

</div>
