<app-menu></app-menu>
<span class='component-title'>[{{title}}]</span>
<span><a routerLink='/request/create'>
    <img width='20' height='20' src='assets/add-icon.png' title='Add New'>
    </a>
</span>
<table *ngIf='requests' class="table table-striped table sm">
    <thead class="thead-dark">
        <tr>
            
            <th>UserName</th>
            <th><a (click)="sort('description')">Description</a></th>
            <th><a (click)="sort('submittedDate')">SubmittedDate</a></th>
            <th><a (click)="sort('dateNeeded')">DateNeeded</a></th>
            <th><a (click)="sort('justification')">Justification</a></th>
            <th><a (click)="sort('status')">status</a></th>
            <th><a (click)="sort('total')">Total</a></th>
            <th><a (click)="sort('deliveryMode')">DeliveryMode</a></th>
            <th><a (click)="sort('reasonForRejection')">ReasonForRejection</a></th>
            
            <th>Action</th>
        
        </tr>
    </thead>
    <tbody>
        <tr *ngFor='let request of requests | sort:sortColumn:ascOrder'>
            
            <td>{{request.user.userName}}</td>
            <td>{{request.description}}</td>
            <td>{{request.submittedDate}}</td>
            <td>{{request.dateNeeded}}</td>
            <td>{{request.justification}}</td>
            <td>{{request.status}}</td>
            <td>{{request.total}}</td>
            <td>{{request.deliveryMode}}</td>
            <td>{{request.reasonForRejection}}</td>
            
            <td>
                <a routerLink='/request/detail/{{request.id}}'><img src='assets/details.png' width='20' height='20' title='Detail'></a>
                 | 
                 <a routerLink='/request/lines/{{request.id}}'><img src='assets/lines.png' width='20' height='20' title='Lines'></a>
                 |
                 <a *ngIf="loggedInUser.admin" routerLink='/request/edit/{{request.id}}'><img src='assets/pencil-icon.png' width='20' height='20' title='Edit'></a>
            </td>
            
        </tr>
    </tbody>
</table>