
<app-menu></app-menu>

<section *ngIf="lineItem.request" class="heading">
    <span class="page-title font-weight-bold font-italic">{{title}} - LineItemId: {{lineItem.id}}</span>
    <span> | <a routerLink="/request/list">Return to list...</a></span>
</section>

<main class="single">

    <table class="table table-sm">

        <tr>
            <td>
                product:
            </td>
            <td>
                <input [(ngModel)]="product.name" class="rounded" type="text">
            </td>
        </tr>

        <tr>

            <td>
                Quantity:
            </td>
            <td>
                <input [(ngModel)]="lineItem.quantity" class="rounded" type="number">    The Quantity
            </td>
            
        </tr>
             
    </table>
    
</main>

<span><button (click)="save()" class="btn btn-sm btn-primary">{{submitBtnTitle}}</button></span> |
<span><button (click)="backClicked()" class="btn btn-sm btn-primary">Back</button></span>